FE019W_1001/FA_jegyzet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://iit.uni-miskolc.hu"
	xmlns="http://iit.uni-miskolc.hu"
	elementFormDefault="qualified">

<xs:element name="jegyzet">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="to" type="xs:string"/>
      		<xs:element name="from" type="xs:string"/>
      		<xs:element name="heading" type="xs:string"/>
      		<xs:element name="body" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:element>

</xs:schema>