FE019W_0924/FA_orarend.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT orarend (ora+)>
<!ELEMENT ora (targy,idopont,helyszin,oktato,szak)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>

<!ATTLIST ora id CDATA "0">
<!ATTLIST ora tipus CDATA #REQUIRED>
<!ATTLIST idopont nap CDATA #REQUIRED>
<!ATTLIST idopont tol CDATA #REQUIRED>
<!ATTLIST idopont ig CDATA #REQUIRED>
